{% extends 'index_template.html' %}

{% block content %}

    <div class="container">
        <hr>
				<h2>Информация о лабораторных группах</h2>
    <p>
      <strong>Название группы</strong> {{ group.title }} <br>
      <strong>Используемый антиген</strong>  {{ group.antigen }} <br>
      <strong>Сотрудники, обслуживающие группу</strong>  <br>
			{% for employee in group.employees.all %}
			{{ employee.title }} <strong>({{ employee.laboratory }})</strong> <br>
			{% endfor %}
			<br>
			В настоящий момент используется <strong>{{equines_in_use.count}}</strong> лошадей <br>
			<strong>Используемые лошади</strong>   <br>
			{% for equine in equines_in_use %}
      {{ equine.title }} <br>
      {% endfor %}
    </p>
    </div>
{% endblock %}
