{% extends 'index_template.html' %}

{% block content %}

    <div class="container">
        <hr>
				<h1>Информация о лошади</h1>
    <p>
       <h2>{{ horse.title }} </h2><br>
			{% if horse.image %}			 
			 		<img src="{{horse.image.url}}" style="height:200px; width:200px"> <br>
			  {%else%}
			  <strong>Изображение отсутствует</strong> <br>
			{% endif %}
		<strong>Пол</strong> {{ horse.get_sex_display }}<br>
        <strong>Порода</strong> {{ horse.breed }}<br>
        <strong>Место приобретения</strong> {{ horse.purchase_place  }}<br>
		<strong>Активность сыворотки</strong> {{ horse.serum_activity }}<br>
        <strong>Дата рождения</strong> {{ horse.date_of_birth }} <br>
	   {%if horse.date_of_death%}
	   <strong>Дата выбытия</strong>{{ horse.date_of_death }} <br>
		{%else%}
			В настоящий момент используется <br>
		{%endif%} 
		<strong>Дата начала эксплуатации</strong> {{ horse.commissioning_date }} <br>
		<strong>Используется в течение </strong>  {{ commissioning_duratuon }} лет <br>
		<strong>Количество иммунизаций</strong> {{ immunisation_count }} <br>
		<strong>Выполнено кровопусканий</strong> {{ bloodlets_count}}<br>
		<strong>Используемый антиген</strong> {{ antigen_type }} <br>
		{% if restrictions%}  			
		  {% for restriction in restrictions %}
		  <strong>Перенесенные ограничения по эксплуатации</strong> <br>
		    {{ restriction.title }} с {{ restriction.begin_restriction }} по {{ restriction.end_restriction }} <br>
		  {% endfor %}
		{% endif %}

    </p>
    </div>
{% endblock %}
